﻿@model IEnumerable<EventBriteWebApplication.Models.EventModel>

<!-- Some CSS to support the hovering
effect on the event table rows -->
<style>
    .event-row:hover {
        background: #faebd7;
    }
</style>

<table class="table">
    <tr>
        <th></th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

    <!-- Display all the events -->
    @foreach (var item in Model)
    {
        <tr class="event-row" data-description="@item.Description" data-url="@item.Url">
            <!-- Display the thumbnail of this event -->
            <td>
                <img width="150" height="150"
                        src="@item.ThumbnailImageUrl" alt="Thumbnail"/>
            </td>

            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
        </tr>
    }
</table>

<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="modal-form" role="form" action="#">
                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-success btn-block">
                        <span class="glyphicon glyphicon-book"></span> Book
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> 

<!-- Javascript to handle the
     clicking of the event rows -->
<script>
    $(document).ready(function() {
        $('.event-row').on('click', function () {
            // Get the description and URL
            var description = $(this).data('description');
            var url = $(this).data('url');

            // Change the description in the modal
            // and change the button URL
            var modal = $('#descriptionModal');

            modal.find('.modal-body').html(description);
            $('#modal-form').attr('action', url);

            // Show the description modal
            modal.modal('show');
        });
    });
</script>